.contenedor-inicio {
  min-height: 100vh;
  background: var(--sura-azul-profundo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-family: "Segoe UI", sans-serif;
}

.logo-sura-inicio {
  width: 300px;
  height: auto;
  flex-shrink: 0;
  padding: 20px;
  filter: brightness(0) invert(1);
}

.contenedor-inicio h1 {
  color: var(--sura-blanco);
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.contenedor-inicio a {
  text-decoration: none;
}

.contenedor-inicio button {
  width: 220px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background: var(--sura-aqua);
  color: var(--sura-azul-profundo);
  font-weight: 600;
  transition: 0.3s;
}

.contenedor-inicio button:hover {
  background: var(--sura-blanco);
  transform: translateY(-2px);
}

